<h2>Update the drone</h2>

<form action="/drones/{{drone._id}}/edit" method="post">
  <label for="name">Drone name:</label><br>
  <input type="text" id="name" name="name" value="{{drone.name}}" ><br>
  <label for="propellers">Propellers:</label><br>
  <input type="number" id="propellers" name="propellers" value="{{drone.propellers}}" ><br><br>
  <label for="maxSpeed">MaxSpeed:</label><br>
  <input type="number" id="maxSpeed" name="maxSpeed" value="{{drone.maxSpeed}}" ><br><br>
  <input type="submit" value="Submit">
</form>